[DESIGN]

# Maximum number of branch for function / method body.
max-branches=20

# Maximum number of locals for function / method body
max-locals=25

# Maximum number of statements in function / method body.
max-statements=55


[REFACTORING]

# Maximum number of nested blocks for function / method body
max-nested-blocks=7
